body
{
    background-image:url(../../Content/imagenes/pattern11.png);        
    height:100%;
    margin-top:10px;
    }

.barraSuperior
{
    height:100px; 
    width:100%;     
    margin-bottom: 10px;    
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */



    }
   

.contenedor_principal
{    
    min-height: 620px; 
    width:1000px; 
    margin:0px auto 0px auto;    
    border:1px solid;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 5px 5px 5px black;
    -webkit-box-shadow: 5px 5px 5px black;
    box-shadow: 5px 5px 5px black;    
    
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

    
    }    


.titulo-barra-lateral
{
    height:30px;
    font-weight: bold;
    text-align:center;
    padding-top:5px;
    color:White;
    
    width:200px;
    border-radius:5px;
    margin-bottom:10px;
    
    
background: rgb(186,81,81); /* Old browsers */
background: -moz-linear-gradient(45deg,  rgba(186,81,81,1) 0%, rgba(186,81,81,1) 49%, rgba(124,0,0,1) 50%, rgba(173,39,39,1) 51%, rgba(135,22,22,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(186,81,81,1)), color-stop(49%,rgba(186,81,81,1)), color-stop(50%,rgba(124,0,0,1)), color-stop(51%,rgba(173,39,39,1)), color-stop(100%,rgba(135,22,22,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(45deg,  rgba(186,81,81,1) 0%,rgba(186,81,81,1) 49%,rgba(124,0,0,1) 50%,rgba(173,39,39,1) 51%,rgba(135,22,22,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(45deg,  rgba(186,81,81,1) 0%,rgba(186,81,81,1) 49%,rgba(124,0,0,1) 50%,rgba(173,39,39,1) 51%,rgba(135,22,22,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(45deg,  rgba(186,81,81,1) 0%,rgba(186,81,81,1) 49%,rgba(124,0,0,1) 50%,rgba(173,39,39,1) 51%,rgba(135,22,22,1) 100%); /* IE10+ */
background: linear-gradient(45deg,  rgba(186,81,81,1) 0%,rgba(186,81,81,1) 49%,rgba(124,0,0,1) 50%,rgba(173,39,39,1) 51%,rgba(135,22,22,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ba5151', endColorstr='#871616',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    
    }

.accordion-heading-mapeso
{
    border-radius:5px;
    
    background: rgb(69,72,77); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */    
    }

.accordion-heading-mapeso-seleccionada
{
    
    color: Black !important;           
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(206,206,206,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(206,206,206,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(206,206,206,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(206,206,206,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(206,206,206,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(206,206,206,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cecece',GradientType=0 ); /* IE6-9 */    
    }
    


.contenedorBarraLateral div div div a, dropdown-menu li
{   
    margin-bottom:5px;
    color: White;
    text-decoration: none;
    font-weight: bold;    
    }
    
.contenedorBarraLateral div div div a:hover, dropdown-menu li:hover
{
    color: Black;           
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(206,206,206,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(206,206,206,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(206,206,206,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(206,206,206,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(206,206,206,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(206,206,206,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cecece',GradientType=0 ); /* IE6-9 */


    }    


.accordion-inner
{
    background-color: #A9A9A9;    
    }

.accordion-toggle:hover
{
    
    border-radius:3px;
    
    }

.accordion-inner a
{
    color:Black;
    margin-left:3px;
    }

.dropdown-menu
{
    background:none !important;
    border:none;
    box-shadow:0 0 0;
    padding-left:5px;
    
    }  

.barra-lateral-sub-menu
{
    width:172px; 
    margin-left: -26px;
    }
    
.dropdown-submenu:hover > a 
{
    border-radius:5px;
    background: rgb(153,153,153); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(153,153,153,1) 0%, rgba(58,58,58,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(153,153,153,1)), color-stop(100%,rgba(58,58,58,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(153,153,153,1) 0%,rgba(58,58,58,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(153,153,153,1) 0%,rgba(58,58,58,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(153,153,153,1) 0%,rgba(58,58,58,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(153,153,153,1) 0%,rgba(58,58,58,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#999999', endColorstr='#3a3a3a',GradientType=0 ); /* IE6-9 */
    }
    
.titulo-seccion
{
    font-weight:bold;
    font-size:250%;
    text-align:center;
    table-layout:auto;
    height:50px;
    padding-top:10px;            
    }    
    
.menuSuperior
{
    vertical-align:bottom;
    margin:30px 0px 0px 80px;    
    height:50px;
    
    float:left;
    }    

.menuSuperior div div
{
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(206,206,206,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(206,206,206,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(206,206,206,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(206,206,206,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(206,206,206,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(206,206,206,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cecece',GradientType=0 ); /* IE6-9 */    
    }




.navbar-inner
{
    padding-left:0px;
    padding-right:0px;    
    
    }

.nav
{
    margin: 0 0 0 0 !important;
    }

.brand
{
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(206,206,206,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(206,206,206,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(206,206,206,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(206,206,206,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(206,206,206,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(206,206,206,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cecece',GradientType=0 ); /* IE6-9 */
    margin-left:0px !important;
    width:140px;
    text-align:center;  
    
    }    

.accordion-group
{
    border: none;
    }

.brand:hover
{
    
    color:White;
    
    background: rgb(69,72,77); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
    }

.contenedor_lista_servicios
{
 /*   height:200px;
    width:100%;
    background-color:black;
    color:White;
    overflow:auto;
   */ 
    }
    
.fila_contenedor_lista_servicios
{
    
    }    
.fila_contenedor_lista_servicios_titulos
{
    
    }
    
/*.columna_contenedor_lista_servicios1, .columna_contenedor_lista_servicios2, .columna_contenedor_lista_servicios3, .columna_contenedor_lista_servicios4, .columna_contenedor_lista_servicios5
{
    display:inline-block;
    }    

.columna_contenedor_lista_servicios1{width:250px;}

.columna_contenedor_lista_servicios2{width:100px;}

.columna_contenedor_lista_servicios3{width:100px; margin-left:auto; margin-right:auto;}

.columna_contenedor_lista_servicios4{width:100px;}

.columna_contenedor_lista_servicios5{width:100px;}
*/
#form1
{
    height:auto !important;
    
    }
    
.span9
{
    float:none !important;
    display: inline-block;
    }    
    
#indices_economicos
{
    height: 20px;
    font-size: 12px;
    margin-bottom: 10px;
    -webkit-marquee-speed: 100ms;
}    